@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

:root{
    --Text: 'Roboto', sans-serif;
    --Header: 'Alkatra', cursive;
    --Color: #25be5b;
    --Background: #32814e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.breadGrid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    height: 50vh;
    width: 100%;
}

.breadGrid span{
    width: 100%;
    height: 100%;
    transition: .5s;
    position: relative;
    transition: .5s;
}

.breadGrid span:nth-child(1){
    background-image: url(../../Image/pexels-cats-coming-1581715.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.breadGrid span:nth-child(2){
    background-image: url(../../Image/story.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.breadGrid span:nth-child(3){
    background-image: url(../../Image/weat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.breadGrid span:nth-child(4){
    background-image: url(../../Image/organic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.breadGrid span i{
    font-size: 25px;
    text-transform: capitalize;
    position: absolute;
    bottom: 0;
    left: 50%;
    color: rgba(255, 255, 255, 0.2);
    transform: translate(-50%, -50%);
    transition: 1s;
}

.breadGrid span:hover i{
    color: white;
    bottom: 50%;
    transform: translate(-50%, -50%);
}

/*Hover on grid-span*/

.breadGrid .oneSpan:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url(../../Image/pexels-cats-coming-1581715.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.breadGrid .twoSpan:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url(../../Image/story.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.breadGrid .threeSpan:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url(../../Image/weat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.breadGrid .fourSpan:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(../../Image/organic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 550px) {
    .breadGrid{
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 550px) {
    .breadGrid{
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
    }

    .breadGrid span{
        height: 300px;
    }
}

@media only screen and (min-width: 551px) and (max-width: 768px) {
    .breadGrid{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: auto;
    }
    .breadGrid span{
        height: 300px;
    }
}
